mixin country-filter(countriesdata)
  -
    const groups = {};
    countriesdata.forEach(country => {
      const firstLetter = country.name[0]
      if (!groups[firstLetter]) groups[firstLetter] = [];
      groups[firstLetter].push(country);
    });
    const sortedKeys = Object.keys(groups).sort();

  section.country-filter
    .container
      .country-filter__title-container
        h1.country-filter__title Попутчики
      .country-filter__list-container
        ul.country-filter__letters-list
          each letter in sortedKeys
            li.country-filter__letters-list-item
              button.country-filter__letters-list-button(type="button")!=letter
              ul.country-filter__countries-list
                each country in groups[letter]
                  li!=country.name
