.about {
  position: relative;
  z-index: 19;
  margin-top: -60px;

  .container {
    padding: 140px 72px 0 72px;
    display: flex;
    justify-content: space-between;
    color: $color-default-white;
    background-color: $color-midnight-express;
    min-height: 818px;
    border-radius: 0 0 56px  56px;

    @include vp-1023 {

      padding: 365px 40px  72px;
    }
  }
}

.about__title-container {
  width: 643px;
  display: flex;
  flex-direction: column;
  row-gap: 19px;
  // min-height: 515px;
  @include vp-1023 {

    row-gap: 29px;
  }
}

.about__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 95px;
  line-height: 71px;

  font-variant: all-small-caps;

  color: inherit;
}

.about__description {
  padding: 0;
  margin: 0;

  font-size: 24px;
  line-height: 142%;

  color: inherit;

  @include vp-1023 {
    margin-left: 7px;
    width: 446px;
    line-height: 138%;
  }
}

.about__note {
  margin: 40px 0 0;
  width: 503px;
  font-weight: 200;
  font-size: 22px;
  line-height: 109%;

  color: inherit;

  @include vp-1023 {
    margin: 75px 0 0 6px;
    width: 365px;
    font-family: $ff-second;
    font-weight: 300;
    font-size: 21px;
    line-height: 119%;
  }
}

.about__image-container {

  height: 665px;
  align-self: flex-end;

  img {
    width: 654.19px;
    height: 665px;
  }
}

.about__link {
  margin-top: 117px;

  @include vp-1023 {
    margin-left: 7px;
    width: 276px;
  }
}
