.about {
  position: relative;
  z-index: 19;
  margin-top: -60px;

  .container {
    padding-top: 140px;
    display: flex;
    justify-content: space-between;
    color: $color-default-white;
    background-color: $color-midnight-express;

    border-radius: 0 0 56px  56px;
  }
}

.about__title-container {
  width: 643px;
  display: flex;
  flex-direction: column;
  row-gap: 19px;
  // min-height: 515px;
}

.about__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 95px;
  line-height: 71px;

  font-variant: all-small-caps;

  color: inherit;
}

.about__description {
  padding: 0;
  margin: 0;

  font-size: 24px;
  line-height: 142%;

  color: inherit;
}

.about__note {
  padding: 0;
  margin: 0;
  margin-top: 49px;

  font-weight: 200;
  font-size: 22px;
  line-height: 109%;

  color: inherit;
}

.about__image-container {
  margin-right: 11px;

  img {
    width: 654.19px;
    height: 665px;
  }
}

.about__link {
  margin-top: 137px;
}
