.companions-card {
  display: flex;
  flex-direction: column;
  width: size(285px);
  min-height: size(479px);
  border-radius: size(22px);
  background-color: $color-default-white;
  align-items: center;
  row-gap: size(13px);
  padding-bottom: size(23px);

  img {
    width: size(285px);
    height: size(285px);
  }

  @include vp-767 {
    min-height: 428px;
    row-gap: 7px;
    border-radius: 10px;
    width: 270px;

    img {
      width: 270px;
      height: 270px;
    }
  }
}

.companions-card__flags-container {
  margin-top: size(-25px);
  width: 100%;

  display: flex;
  padding: 0 size(20px);
  flex-wrap: wrap;

  justify-content: center;
  gap: size(20px);

  img {
    width: size(35px);
    height: size(24px);
  }
}

.companions-card__title-wrapper {
  margin-top: size(6px);
  margin-bottom: size(9px);
  padding-right: size(8px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: size(14px);
  width: 100%;

  .companions-card__title {
    margin: 0;
    padding: 0;

    font-weight: 700;
    font-size: size(24px);
    line-height: 92%;

    text-align: center;

    color: $color-catalina-blue;

    @include vp-767 {
      font-size: 21px;
      line-height: 100%;
    }
  }

  .companions-card__online {
    display: block;
    width: size(8px);
    aspect-ratio: 1;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: $color-salmon;

    &--true {
      background-color: $color-lawn-green;
    }
  }
}


.companions-card__description {
  margin: 0;
  padding: 0;
  padding-left: size(14px);
  font-weight: 400;
  font-size: size(20px);
  line-height: 115%;

  text-align: center;

  color: $color-accent-main;

  @include vp-767 {
    font-size: 16px;
    line-height: 112%;
  }
}

.companions-card__icons-wrapper {
  display: flex;
  gap: size(10px);
  padding-left: size(17px);
  margin-top: auto;
}

.companions-card__icon {
  opacity: 0.15;

  &--checked {
    opacity: 1;
    color: $color-midnight-ocean;
  }
}
