.companions-card {
  display: flex;
  flex-direction: column;
  width: 285px;
  min-height: 479px;
  border-radius: 22px;
  background-color: $color-default-white;
  align-items: center;
  row-gap: 13px;
  padding-bottom: 23px;

  img {
    width: 285px;
    height: 285px;
  }
}

.companions-card__flags-container {
  margin-top: -25px;
  width: 100%;

  display: flex;
  padding: 0 20px;
  flex-wrap: wrap;

  justify-content: center;
  gap: 20px;

  img {
    width: 35px;
    height: 24px;
  }
}

.companions-card__title-wrapper {
  margin-top: 6px;
  margin-bottom: 9px;
  padding-right: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 14px;
  width: 100%;

  .companions-card__title {
    margin: 0;
    padding: 0;

    font-weight: 700;
    font-size: 24px;
    line-height: 92%;

    text-align: center;

    color: $color-catalina-blue;
  }

  .companions-card__online {
    display: block;
    width: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: $color-salmon;

    &--true {
      background-color: $color-lawn-green;
    }
  }
}


.companions-card__description {
  margin: 0;
  padding: 0;
  padding-left: 14px;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;

  text-align: center;

  color: $color-accent-main;
}

.companions-card__icons-wrapper {
  display: flex;
  gap: 10px;
  padding-left: 17px;
  margin-top: auto;
}

.companions-card__icon {
  opacity: 0.15;

  &--checked {
    opacity: 1;
    color: $color-midnight-ocean;
  }
}
