.companions-card {
  display: flex;
  flex-direction: column;
  width: 285px;
  min-height: 479px;
  border-radius: 22px;
  background-color: $color-default-white;
  align-items: center;

  img:first-of-type {
    width: 285px;
    height: 285px;
  }
}

.companions-card__flags-container {
  display: flex;
  // разберись
  svg {
    width: 35px;
    height: 24px;
  }

  use {
    width: 35px !important;
    height: 24px !important;
  }
}

.companions-card__title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 92%;

  text-align: center;

  color: $color-catalina-blue;
}

.companions-card__description {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 20px;
  line-height: 115%;

  text-align: center;

  color: $color-accent-main;
}

.companions-card__icons-wrapper {
  display: flex;
}
