.companions {
  position: relative;
  z-index: 17;
  margin-top: size(-63px);

  .container {
    padding: 0;
    display: flex;
    justify-content: space-between;

    @include vp-1023 {
      flex-direction: column;
      background-color: $color-blue-zodiac;
      min-height: 1240px;
      justify-content: flex-start;
      border-radius: 0 0 56px 56px;
    }

    @include vp-767 {
      min-height: 1382px;
      border-radius: 0 0 30px 30px;
    }
  }
}

.companions__description-wrapper {
  padding: size(153px) 0 size(159px) size(72px);

  width: size(632px);
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: size(40px);

  color: $color-midnight-express-dark;

  @include vp-1023 {
    padding: 134px 0 93px 38px;
    row-gap: 50px;
    color: $color-default-white;
    width: unset;
    flex-grow: 0;
  }

  @include vp-767 {
    row-gap: 20px;

    padding: 100px 10px 37px 28px;
  }

  .companions__title {
    line-height: size(55px);

    @include vp-1023 {
      color: $color-default-white;
    }

    @include vp-767 {
      font-size: 50px;
      line-height: 48%;
    }
  }

  .companions__description {
    margin: 0;
    padding: 0;

    font-weight: 500;
    font-size: size(24px);
    line-height: 138%;

    width: size(516px);

    @include vp-1023 {
      width: 618px;
      margin-left: 2px;
      line-height: 142%;

      br {
        display: none;
      }
    }

    @include vp-767 {
      margin-left: 0;

      width: 272px;
      font-weight: 400;
      font-size: 14px;
      line-height: 157%;
    }
  }


  .companions__sub-description {
    margin: size(12px) 0 0;

    font-family: $ff-second;
    font-weight: 300;
    font-size: size(22px);
    line-height: 109%;

    @include vp-1023 {
      margin: 24px 0 0 0;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 157%;
      margin: 11px 0 0 -2px;
    }
  }

  .companions__link {
    margin-top: size(69px);
    margin-left: size(2px);
    width: size(293.45px);

    @include vp-1023 {
      position: absolute;
      left: calc(50% - 310px);
      bottom: 69px;

      margin: 0;
      width: 616px;
      padding: 0 20px 0 33px;
    }

    @include vp-767 {
      width: 270px;
      bottom: 40px;
      margin-left: 0;
      left: calc(50% - 135px);

      min-height: 61px;
      border-radius: 10px;
      font-size: 18px;
      line-height: 100%;
      padding: 0 23px 0 23px;
    }
  }
}

.companions__list {
  margin: 0;
  padding: size(133px) size(74px) size(123px) size(76px);
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: size(20px);
  justify-content: space-between;
  min-width: size(750px);
  min-height: size(793px);

  border-radius: 0 0 size(56px)  size(56px);
  background-color: $color-blue-zodiac;

  @include vp-1023 {
    padding: 0 42px 0 40px;
    min-width: unset;
    min-height: unset;
  }

  @include vp-767 {
    justify-content: center;
    padding: 0;
    row-gap: 44px;
  }
}

.companions__cards-item:nth-child(even) {
  align-self: end;
}
