.companions-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: size(285px);
  min-height: size(479px);
  align-items: center;
  row-gap: size(13px);
  padding-bottom: size(23px);

  border-radius: size(22px);
  background-color: $color-default-white;

  transition: box-shadow $trans-default;

  @include vp-1023 {
    box-shadow: 0 0 10px 0 $color-default-white;
  }

  @include vp-767 {
    min-height: 428px;
    row-gap: 7px;
    border-radius: 10px;
    width: 270px;
    padding: 0 0 10px 0;
  }

  &:hover {
    box-shadow: 0 4px 20px 0 rgba(255, 254, 254, 0.5);

    .companions-card__image-container img {
      transform: scale(1.05);
    }
  }
}

.companions-card__image-container {
  overflow: hidden;
  border-radius: size(22px) size(22px) 0 0;

  img {
    transition: transform $trans-default;
    width: size(285px);
    height: size(285px);
  }

  @include vp-767 {

    border-radius: 10px 10px 0 0;

    img {
      width: 270px;
      height: 270px;
    }
  }
}

.companions-card__flags-container {
  margin-top: size(-25px);
  width: 100%;

  display: flex;
  padding: 0 size(20px);
  flex-wrap: wrap;

  justify-content: center;
  gap: size(20px);

  img {
    width: size(35px);
    height: size(24px);
  }

  @include vp-767 {
    margin-top: -17px;
  }
}

.companions-card__flag {
  position: relative;

  @include hover-focus {
    span {
      opacity: 1;
      z-index: 99;
    }
  }
}

.companions-card__title-wrapper {
  margin-top: size(6px);
  margin-bottom: size(9px);
  padding-right: size(8px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: size(14px);
  width: 100%;


  @include vp-767 {
    margin-top: 6px;
    margin-bottom: 9px;
    padding-right: 17px;
    column-gap: 8px;
  }

  .companions-card__title {
    margin: 0;
    padding: 0;

    font-weight: 700;
    font-size: size(24px);
    line-height: 92%;

    text-align: center;

    color: $color-catalina-blue;

    @include vp-767 {
      font-size: 21px;
      line-height: 100%;
    }
  }

  .companions-card__online {
    display: block;
    width: size(8px);
    aspect-ratio: 1;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: $color-salmon;

    @include vp-767 {
      width: 6px;
    }

    &--true {
      background-color: $color-lawn-green;
    }
  }
}


.companions-card__description {
  margin: 0;
  padding: 0;
  padding-left: size(14px);
  font-weight: 400;
  font-size: size(20px);
  line-height: 115%;

  text-align: center;

  color: $color-accent-main;

  @include vp-767 {
    font-size: 16px;
    line-height: 112%;
    padding: 0;
    max-width: 212px;
  }
}

.companions-card__icons-wrapper {
  display: flex;
  gap: size(10px);
  padding-left: size(17px);
  margin-top: auto;

  @include vp-767 {
    gap: 9px;
    margin-right: 14px;
  }
}

.companions-card__icon {
  opacity: 0.15;

  &--checked {
    opacity: 1;
    color: $color-midnight-ocean;
  }

  &-container {
    position: relative;

    &:hover {
      span {
        opacity: 1;
        z-index: 99;
      }
    }
  }
}

.companions-card__level {
  position: absolute;
  top: size(20px);
  left: size(22px);
  width: size(56px);
  height: size(56px);
  border-radius: 50%;

  &-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: size(60px);
    height: size(60px);

    svg {
      width: size(60px);
      height: size(60px);
    }
  }

  &-description-container {
    display: flex;
    flex-direction: column;
    width: size(60px);
    height: size(60px);
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    color: $color-default-white;
    background-color: rgba(0, 0, 0, 0.6);

    &::after {
      content: "";
      position: absolute;
      top: size(36px);
      left: calc(50% + #{size(2px)});
      display: block;
      height: size(1px);
      width: size(30px);
      opacity: 0.3;
      background-color: $color-default-white;
      transform: translateX(-50%);

      @include vp-767 {
        display: none;
      }
    }
  }

  &-count {

    position: relative;
    top: 2px;

    font-weight: 700;
    font-size: size(24px);
    line-height: 100%;
  }

  &-description {
    position: relative;
    bottom: -3px;

    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    height: min-content;
  }
}
