.directions-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 608.37px;
  min-height: 140px;

  background-color: $color-default-white;
  border-radius: 20px;

  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.3));
}

.directions-card__wrapper {
  display: flex;
  flex-direction: column;
  padding: 24px 31.5px 0 31.5px;
  min-height: 89px;
  row-gap: 3px;
  justify-content: start;
}

.directions-card__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;

  color: $color-default-black;
}

.directions-card__description {
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 100%;

  color: $color-accent-main;

  opacity: 0.3;
}

.directions-card__icon-wrapper {
  display: flex;
  align-items: center;
  column-gap: 12.24px;
  height: min-content;
  margin-top: 24px;
}

.directions-card__folowes {
  margin: 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: $color-midnight-express-darker;

  opacity: 0.3;
}

.directions-card__flag-wrapper {
  position: absolute;
  top: 23px;
  right: 165px;
}
