.hero {
  position: relative;
  z-index: 20;

  .container {
    position: relative;
    padding: size(102px) size(72px) 0;
    min-height: size(742px);
    border-radius: 0 0 size(56px)  size(56px);

    @include vp-1023 {
      display: flex;
      flex-direction: column;
      padding: 0 0 0 0;
      z-index: 0;
    }
  }
}


.hero__wrapper {
  @include vp-1023 {
    padding-top: 102px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 905px;
  }

  @include vp-767 {
    min-height: 626px;
  }
}

.hero__title {
  margin: size(87px) 0 0;
  padding: 0;
  width: size(512px);

  font-weight: 700;
  font-size: size(70px);
  line-height: 100%;

  font-variant: all-small-caps;

  color: $color-default-white;

  @include vp-1023 {
    margin: 56px 54px 0;
    font-size: 60px;
    line-height: 70px;
  }

  @include vp-767 {
    margin: 0 25px 0 25px;
    width: unset;
    font-size: 36px;
    line-height: 111%;
  }
}

.hero__image-wrapper {
  position: absolute;
  bottom: 0;
  right: size(275px);
  width: size(431px);
  z-index: -1;

  @include vp-1023 {
    right: calc(50% - 336px);
    bottom: 79px;
  }

  @include vp-767 {
    right: calc(50% - 356px);
    bottom: 111px;
  }

  img {
    width: size(431px);
    height: size(640px);

    @include vp-1023 {
      width: 437px;
      height: 530px;
    }

    @include vp-767 {
      width: 192px;
      height: 255px;
    }
  }
}

.hero__background-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -2;
  background-color: $color-chambray;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 0 0 size(56px)  size(56px);

  img {
    width: size(1440px);
    height: size(742px);
  }

  @include vp-1023 {
    bottom: unset;
    top: 0;
    width: 1440px;
    height: 906px;

    left: calc(50% - 561px);

    img {
      width: 1440px;
      height: 906px;
    }
  }

  @include vp-767 {
    bottom: 0;
    left: calc(50% - 383px);
    width: 767px;
    height: 628px;

    img {
      width: 767px;
      height: 628px;
    }
  }
}


.hero__list-wrapper {
  @include vp-1023 {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $color-midnight-express;
  }
}


.hero__list {
  position: absolute;
  top: size(520px);
  left: size(60px);
  min-height: size(107px);
  height: min-content;
  padding: 0;
  margin: 0;
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  max-width: size(1330px);
  counter-reset: item;

  @include vp-1023 {
    position: static;
    width: 100%;
    margin-top: -79px;
    align-self: end;
    top: unset;
    min-height: unset;
    padding: 0 40px;
    background: linear-gradient(to bottom, $color-transparent 79px, $color-midnight-express 79px);
  }

  @include vp-767 {
    padding: 0 26px;
    margin-top: -116px;
    background: linear-gradient(to bottom, $color-transparent 116px, $color-midnight-express 116px);
  }
}

.hero__list-item {
  position: relative;
  overflow: visible;
  counter-increment: item;
  padding: size(29.5px);
  padding-left: size(34px);
  min-width: size(352.4px);

  display: flex;
  align-items: center;

  border-radius: size(20px);

  filter: drop-shadow(size(-4px) 0 size(10px) rgba(0, 0, 0, 0.25));

  @include vp-1023 {
    padding: 10px 33px 61px;
    min-width: 344px;
  }

  & p {
    margin: 0;
    width: size(183px);
    font-weight: 700;
    font-size: size(22px);
    line-height: 109%;

    color: $color-midnight-express-darker;

    @include vp-1023 {
      width: 195px;

      font-size: 24px;
      line-height: 100%;
    }

    @include vp-767 {
      font-size: 18px;
      width: 150px;
    }
  }

  &:not(:nth-child(4n + 1)) {
    margin-left: size(-30px);

    @include vp-1023 {
      margin-left: 0;
    }
  }

  &:nth-child(n + 5) {
    margin-top: size(-20px);
  }

  &:nth-child(4n + 1) {
    background-color: $color-picton-blue;
  }

  &:nth-child(4n + 2) {
    padding-left: size(22px);
    background-color: $color-jordy-blue;
  }

  &:nth-child(4n + 3) {
    padding-left: size(46px);
    background-color: $color-pale-cornflower-blue;
  }

  &:nth-child(4n + 4) {
    padding-left: size(68px);
    background-color: $color-pattens-blue;
  }

  @include vp-1023 {
    &:nth-child(4n + 2),
    &:nth-child(4n + 3),
    &:nth-child(4n + 4) {
      padding-left: 33px;
    }
  }

  @include vp-1023 {
    filter: none;
    min-height: 140px;
    padding-bottom: 40px;

    &:nth-child(odd) {
      min-width: calc(50% + 43px);
    }

    &:nth-child(even) {
      margin-top: -20px;
      margin-left: -43px;
      width: 50%;
    }

    &:nth-child(n+3):nth-last-child(n+3) {
      margin-top: 0;
      border-radius: 0;
    }

    &:nth-child(1),
    &:nth-child(2) {
      border-radius: 20px 20px 0 0;
      margin-top: 0;
    }

    &:nth-last-child(-n+2) {
      border-radius: 0 0 20px 20px;
      margin-top: 0;
    }

    &:last-child:not(:nth-child(even)) {
      min-width: unset;
      width: 100%;
      margin-left: 0;
    }
  }

  @include vp-767 {
    margin: 0;
    width: 100%;
    min-width: 100%;
    min-height: 80px;
    padding-bottom: 0;
    filter: none;
    border-radius: 10px;
    align-items: flex-start;

    &:not(:nth-child(4n + 1)),
    &:nth-child(even),
    &:last-child:not(:nth-child(even)) {
      border-radius: 10px;
      margin-left: 0;
      margin-top: 0;
    }

    &:nth-child(n + 5),
    &:nth-child(n + 3) {
      margin: 0;
      padding-left: 24px;
      padding-top: 24px;
    }

    &:not(:last-child) {
      border-radius: 10px;
      margin-bottom: -21px;
      min-height: 100px;
      padding-left: 24px;
      padding-top: 24px;
    }
  }
}

.hero__list-item::before {
  position: absolute;
  top: size(25px);
  right: size(71px);
  content: counter(item);
  font-weight: 700;
  color: $color-default-white;
  order: 1;

  @include vp-1023 {
    top: unset;
    right: unset;
    left: 34px;
    bottom: 22px;
    font-size: 28px;
    line-height: 100%;
  }

  @include vp-767 {
    left: unset;
    bottom: unset;
    top: 22px;
    right: 19px;

    font-size: 18px;
  }
}
