.hero {
  position: relative;
  z-index: 20;

  .container {
    position: relative;
    padding: 102px 72px 0;
    min-height: 742px;
    // column-gap: 146px;
    border-radius: 0 0 56px  56px;
  }
}

.hero__title {
  margin: 0;
  padding: 0;
  margin-top: 90px;
  width: 512px;

  font-weight: 700;
  font-size: 70px;
  line-height: 70px;

  font-variant: all-small-caps;

  color: $color-default-white;
}

.hero__image-wrapper {
  position: absolute;
  bottom: -1px;
  right: 272px;
  width: 431px;
  z-index: -1;

  img {
    width: 431px;
    height: 640px;
    // max-width: unset;
  }
}

.hero__background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;

  img {
    // min-width: 1440px;
    width: 1440px;
    height: 742px;
  }
}

.hero__list {
  padding: 0;
  margin: 0;

  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  counter-reset: item;
}

.hero__list-item {
  counter-increment: item;
  display: flex;
  align-items: center;
  min-height: 107px;
  border-radius: 20px;

  &:nth-child(4n + 1) {
    background-color: $color-picton-blue;
  }

  &:nth-child(4n + 2) {
    background-color: $color-jordy-blue;
  }

  &:nth-child(4n + 3) {
    background-color: $color-pale-cornflower-blue;
  }

  &:nth-child(4n + 4) {
    background-color: $color-pattens-blue;
  }
}

.hero__list-item::before {
  content: counter(item);
  font-weight: 700;
  color: $color-default-white;
}
