.hero {
  position: relative;
  z-index: 20;

  .container {
    position: relative;
    padding: 102px 72px 0;
    min-height: 742px;
    // column-gap: 146px;
    border-radius: 0 0 56px  56px;
  }
}

.hero__title {
  margin: 87px 0 0;
  padding: 0;
  width: 512px;

  font-weight: 700;
  font-size: 70px;
  line-height: 70px;

  font-variant: all-small-caps;

  color: $color-default-white;
}

.hero__image-wrapper {
  position: absolute;
  bottom: 0;
  right: 275px;
  width: 431px;
  z-index: -1;

  img {
    width: 431px;
    height: 640px;
  }
}

.hero__background-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -2;
  background-color: $color-chambray;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 0 0 56px  56px;

  img {
    width: 1440px;
    height: 742px;
  }
}

.hero__list {
  position: absolute;
  top: 520px;
  left: 60px;
  min-height: 107px;
  height: min-content;
  padding: 0;
  margin: 0;
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  max-width: 1330px;
  counter-reset: item;
}

.hero__list-item {
  counter-increment: item;
  padding: 29.5px;
  padding-left: 34px;
  min-width: 352.4px;

  display: flex;
  align-items: center;

  border-radius: 20px;

  filter: drop-shadow(-4px 0 10px rgba(0, 0, 0, 0.25));

  & p {
    margin: 0;
    width: 183px;
    font-weight: 700;
    font-size: 22px;
    line-height: 109%;

    color: $color-midnight-express-darker;
  }

  &:not(:nth-child(4n + 1)) {
    margin-left: -30px;
  }

  &:nth-child(n + 5) {
    margin-top: -20px;
  }

  &:nth-child(4n + 1) {
    background-color: $color-picton-blue;
  }

  &:nth-child(4n + 2) {
    padding-left: 22px;

    background-color: $color-jordy-blue;
  }

  &:nth-child(4n + 3) {
    padding-left: 46px;
    background-color: $color-pale-cornflower-blue;
  }

  &:nth-child(4n + 4) {
    padding-left: 68px;
    background-color: $color-pattens-blue;
  }
}

.hero__list-item::before {
  position: absolute;
  top: 25px;
  right: 71px;
  content: counter(item);
  font-weight: 700;
  color: $color-default-white;
  order: 1;
}
