.map {
  position: relative;
  z-index: 14;
  margin-top: -60px;

  .container {
    padding: 0;
  }
}

.map__description-container {
  position: relative;
  z-index: 13;
  padding: 114px 0 56px 277px;
  display: flex;
  align-items: center;
  // justify-content: center;
  color: $color-solitude;
  background-color: $color-jordy-blue;
  border-radius: 0 0 56px  56px;
  min-height: 262px;
  column-gap: 103px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
}

.map__address-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  aspect-ratio: 1;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: $color-midnight-express-darkerer;
}

.map__address-button {
  display: flex;
  align-items: center;
  column-gap: 31px;
  background-color: $color-transparent;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.map__address {
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  text-transform: uppercase;
  // color: #1D2E5B;
}

.map__button {
  border: 3px solid $color-midnight-express-dark;
  width: 324px;
  padding: 0 16px 0 34px;
  background-color: $color-transparent;
}


.map-wrapper {
  position: relative;
  height: 515px;
  // background-color: $color-accent-main;
  margin-top: -60px;
  min-width: 1440px;

  // &::after {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   content: "тут карта";
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   width: 100%;
  //   height: 100%;
  //   color: #ffffff;
  // }
}

.map__marker {
  position: relative;
  display: block;
  width: 54px;
  height: 54px;
  background-color: $color-default-white;
  border-radius: 50%;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 24px;
    height: 24px;
    border-radius: 50%;

    background-color: $color-midnight-deep;
  }
}
