.map {
  position: relative;
  z-index: 14;
  margin-top: -60px;

  .container {
    padding: 0;
  }
}

.map__description-container {
  position: relative;
  z-index: 13;
  padding: 114px 0 56px 277px;
  display: flex;
  align-items: center;
  // justify-content: center;
  color: $color-solitude;
  background-color: $color-jordy-blue;
  border-radius: 0 0 56px  56px;
  min-height: 262px;
  column-gap: 103px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);

  @include vp-1023 {
    padding: 108px 75px 84px;
    min-height: 384px;
    row-gap: 44px;
    flex-direction: column;
  }

  @include vp-767 {
    padding: 95px 24px 31px 26px;
    min-height: 238px;
    row-gap: 33px;
    border-radius: 0 20px 20px;
  }
}

.map__address-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  aspect-ratio: 1;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: $color-midnight-express-darkerer;

  @include vp-1023 {
    width: 68px;

    svg {
      width: 31.8px;
      height: 31.8px;
    }
  }

  @include vp-767 {
    width: 45px;

    svg {
      width: 21px;
      height: 21px;
    }
  }
}

.map__address-button {
  display: flex;
  align-items: center;
  column-gap: 31px;
  background-color: $color-transparent;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  @include vp-1023 {
    padding: 0;
    column-gap: 26px;
    width: 618px;
  }

  @include vp-767 {
    column-gap: 16px;
    width: unset;
  }
}

.map__address {
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  text-transform: uppercase;


  @include vp-1023 {
    position: relative;
    top: 2px;
  }

  @include vp-767 {
    text-align: start;
    font-size: 16px;
    line-height: 138%;
  }
}

.map__button {
  border: 3px solid $color-midnight-express-dark;
  width: 324px;
  padding: 0 16px 0 34px;
  background-color: $color-transparent;

  @include vp-1023 {
    width: 100%;
  }

  @include vp-767 {
    width: 100%;
    min-height: 62px;
    padding-left: 12px;
    padding-right: 12px;

    border-radius: 10px;

    font-size: 18px;
    line-height: 100%;
  }
}


.map-wrapper {
  position: relative;
  height: 515px;
  // background-color: $color-accent-main;
  margin-top: -60px;
  min-width: 1440px;

  @include vp-1023 {
    min-width: unset;
    height: 584px;
  }

  @include vp-767 {
    height: 472px;
  }
}

.map__marker {
  position: relative;
  display: block;
  width: 54px;
  height: 54px;
  background-color: $color-default-white;
  border-radius: 50%;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 24px;
    height: 24px;
    border-radius: 50%;

    background-color: $color-midnight-deep;
  }
}
