.map {
  position: relative;
  z-index: 14;
  margin-top: size(-60px);

  .container {
    padding: 0;
  }
}

.map__description-container {
  position: relative;
  z-index: 13;
  padding: size(114px) 0 size(56px) size(277px);
  display: flex;
  align-items: center;
  min-height: size(262px);
  column-gap: size(103px);

  color: $color-solitude;
  background-color: $color-jordy-blue;

  border-radius: 0 0 size(56px) size(56px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);

  @include vp-1023 {
    padding: 108px 75px 84px;
    min-height: 384px;
    row-gap: 44px;
    flex-direction: column;
  }

  @include vp-767 {
    padding: 95px 24px 31px 26px;
    min-height: 238px;
    row-gap: 33px;
    border-radius: 0 20px 20px;
  }
}

.map__address-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: size(90px);
  aspect-ratio: 1;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: $color-midnight-express-darkerer;

  transition: color $trans-default;
  color: $color-pattens-blue;

  @include vp-1023 {
    width: 68px;

    svg {
      width: 31.8px;
      height: 31.8px;
    }
  }

  @include vp-767 {
    width: 45px;

    svg {
      width: 21px;
      height: 21px;
    }
  }
}

.map__address-button {
  display: flex;
  align-items: center;
  column-gap: size(31px);
  background-color: $color-transparent;
  border: none;
  border-radius: size(20px);
  cursor: pointer;

  transition: color $trans-default,
    opacity $trans-default;

  @include hover-focus {
    .map__address-icon-container {
      color: inherit;
    }

    color: #4d99d6;
  }

  &:active {
    opacity: 0.3;
  }

  @include vp-1023 {
    padding: 0;
    column-gap: 26px;
    width: 618px;
  }

  @include vp-767 {
    column-gap: 16px;
    width: unset;
  }
}

.map__address {
  font-weight: 700;
  font-size: size(28px);
  line-height: 100%;
  text-transform: uppercase;


  @include vp-1023 {
    position: relative;
    top: 2px;
  }

  @include vp-767 {
    text-align: start;
    font-size: 16px;
    line-height: 138%;
  }
}

.map__button {
  border: size(3px) solid $color-midnight-express-dark;
  width: size(324px);
  padding: 0 size(16px) 0 size(34px);
  background-color: $color-transparent;

  transition: color $trans-default,
    background-color $trans-default,
    opacity $trans-default;

  @include hover-focus {
    color: $color-default-white;
    background-color: $color-midnight-express-dark;
  }

  @include active {
    color: rgb(255, 255, 255, 0.1);
  }

  &:active {
    color: rgb(255, 255, 255, 0.1);
  }


  @include vp-1023 {
    width: 100%;
  }

  @include vp-767 {
    width: 100%;
    min-height: 62px;
    padding-left: 12px;
    padding-right: 12px;

    border-radius: 10px;

    font-size: 18px;
    line-height: 100%;
  }
}


.map-wrapper {
  position: relative;
  height: size(515px);

  margin-top: size(-60px);
  width: size(1440px);

  @include vp-1023 {
    width: unset;
    height: 584px;
  }

  @include vp-767 {
    height: 472px;
  }
}

.map__marker {
  position: relative;
  display: block;
  width: size(54px);
  height: size(54px);
  background-color: $color-default-white;
  border-radius: 50%;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: size(24px);
    height: size(24px);
    border-radius: 50%;

    background-color: $color-midnight-deep;
  }
}
