.profile {
  position: relative;
  z-index: 16;
  margin-top: -60px;

  .container {
    // padding-top: 176px;
    // padding-bottom: 66px;
    // padding-left: 74px;
    padding: 176px 0 66px 74px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 26px;

    @include vp-1023 {
      padding: 96px 40px 64px;
      border-radius: 0 0 56px  56px;
      background-color: $color-solitude;
    }

    @include vp-767 {
      padding: 96px 20px 25px;
      border-radius: 0 0 30px  30px;
    }
  }
}

.profile__title {
  padding-right: 53px;

  @include vp-1023 {
    text-align: center;
    line-height: 90px;
    padding: 0;
    padding-right: 3px;
  }

  @include vp-767 {
    font-size: 37px;
    line-height: 76%;
  }
}

.profile__wrapper {
  margin-top: 83px;

  width: 100%;
  display: flex;
  justify-content: space-between;

  @include vp-1023 {
    margin-top: unset;
    // justify-content: flex-start;
  }

  @include vp-767 {
    flex-direction: column;
    row-gap: 42px;
  }
}

.profile__list {
  margin: 0;
  margin-top: 59px;
  padding: 0;
  list-style: none;
  counter-reset: item;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 4px;

  @include vp-1023 {
    margin-top: 40px;
  }

  @include vp-767 {
    padding: 0 10px 0 4px;

    margin-top: 4px;
  }

  &-item-description {
    margin: 0;
    padding: 0;

    width: 100%;
    display: flex;
    align-items: center;
    min-height: 76px;

    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: $color-accent-main;

    border-top: 1px solid $color-solitude;

    @include vp-1023 {
      min-height: 68px;
    }

    @include vp-767 {
      min-height: 42px;
      font-size: 16px;
      line-height: 100%;
      width: 207px;
    }
  }
}

.profile__list-item {
  counter-increment: item;
  display: flex;
  align-items: center;
  column-gap: 24.64px;

  &:nth-child(3n + 1)::before {
    background-color: $color-picton-blue;
  }

  &:nth-child(3n + 2)::before {
    background-color: $color-jordy-blue;
  }

  &:nth-child(3n + 3)::before {
    background-color: $color-pale-cornflower-blue;
  }

  &:last-child {
    .profile__list-item-description {
      border-bottom: 1px solid $color-solitude;
    }
  }

  @include vp-767 {
    column-gap: 24px;
  }
}

.profile__list-item::before {
  content: counter(item);
  width: 72.86px;
  height: 70.81px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  font-weight: 400;
  font-size: 28px;
  line-height: 100%;


  background: $color-lavender;
  border-radius: 100%;
  color: $color-default-white;

  @include vp-1023 {
    width: 68px;
    height: 68px;
  }

  @include vp-767 {
    width: 35px;
    height: 35px;
    font-size: 16px;
    order: 1;
  }
}

.profile__price-wrapper {
  min-width: 585.38px;
  min-height: 333px;
  padding: 62px 49px 67px 48.65px;
  display: flex;
  justify-content: space-between;
  color: $color-default-white;
  border-radius: 20px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: $color-blue-zodiac;

  @include vp-1023 {
    min-width: unset;
    min-height: 285px;
    padding: 23px 27px 18px;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;
  }

  @include vp-767 {
    padding: 14px 18px 18px 15px;
    margin: 0 9px 0 8px;
    flex-direction: row;
    min-height: unset;
  }
}

.profile__price-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 41px;
  line-height: 68%;

  font-variant: all-small-caps;


  @include vp-1023 {
    font-size: 28px;
    line-height: 100%;
    // text-align: right;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 80%;
  }
}

.profile__price-container {
  padding: 22px;
  padding-left: 33px;
  display: flex;
  flex-direction: column;
  row-gap: 24.39px;

  @include vp-1023 {
    padding: 0;
    row-gap: 20px;
  }

  @include vp-767 {
    padding: 0;
    row-gap: 25px;
  }
}

.profile__price-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 11.45px;

  @include vp-767 {
    row-gap: 5px;
    align-items: flex-start;
  }
}

.profile__price-item {
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;

  @include vp-1023 {
    font-weight: 300;
    font-size: 24px;
    line-height: 117%;
    // text-align: right;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 100%;
  }
}

.profile__link {
  margin-top: -26px;
  display: flex;
  align-items: center;
  column-gap: 20.36px;
  align-self: flex-start;

  @include vp-1023 {
    margin-top: -38px;
  }

  @include vp-767 {
    margin-top: 0;
    width: 100%;
    justify-content: center;
  }

  .profile__link-icon {
    width: 72.86px;
    height: 70.81px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: $color-lavender;
    border-radius: 50%;

    @include vp-1023 {
      width: 68px;
      height: 68px;
    }

    @include vp-767 {
      display: none;
    }
  }

  .profile__link-description {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;

    color: $color-blue-zodiac;

    @include vp-1023 {
      margin-top: 5px;
      color: $color-midnight-express-dark;
    }

    @include vp-767 {
      margin-top: 0;
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
      /* or 100% */
      color: #272b3b;
    }
  }
}
