.registration {
  position: relative;
  z-index: 15;
  margin-top: size(-60px);

  .container {
    margin-top: size(60px);
    padding: size(175px) 0 size(102px);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: size(42px);
    color: $color-default-white;
    background-color: $color-blue-zodiac;
    border-radius: 0 0 size(56px) size(56px);

    @include vp-1023 {
      padding: 147px 0 60px;
      margin-top: 0;
      row-gap: 38px;
    }

    @include vp-767 {
      padding: 83px 20px 48px 22px;
      border-radius: 0 0 30px  30px;
      row-gap: 15px;
    }
  }
}

.registration__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: size(95px);
  line-height: 47%;

  @include vp-1023 {
    font-size: 75px;
    line-height: 60%;
    font-variant: all-small-caps;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 100%;

    font-variant: unset;
  }
}

.registration__description {
  margin: 0;
  margin-top: size(4px);
  padding: 0 size(34px);
  width: size(655px);

  font-weight: 300;
  font-size: size(28px);
  line-height: 111%;

  text-align: center;

  @include vp-1023 {
    font-size: 24px;
    line-height: 133%;
    width: 705px;
    padding-left: 14px;
  }

  @include vp-767 {
    font-size: 13px;
    line-height: 169%;
    padding-left: 23px;
    width: unset;
  }

  br {
    &:last-of-type {
      display: none;
    }


    @include vp-1023 {
      &:first-of-type {
        display: none;
      }
    }

    @include vp-767 {
      &:first-of-type {
        display: block;
      }

      &:last-of-type {
        display: none;
      }
    }
  }
}

.registration__description-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: $color-pale-cornflower-blue;
  transition: color $trans-default,
    opacity $trans-default;

  @include hover-focus {
    color: #4d99d6;
  }

  &:active {
    opacity: 0.3;
  }
}

.registration__input-wrapper {
  display: flex;
  margin-top: size(5px);

  @include vp-1023 {
    margin-top: 33px;
    padding: 0 76px;
    width: 100%;
    display: flex;
  }

  @include vp-767 {
    margin-top: 14px;
    padding: 0 8px 0  0;
    width: 100%;
    display: flex;
  }
}

.registration__submit-button {
  border-radius: 0 size(20px) size(20px) 0;
  width: size(330px);

  svg {
    transition: transform $trans-default, opacity $trans-default;
    transform: scale(1);
  }

  &.btn {
    padding: 0 size(35.97px) 0 size(40.89px);

    @include vp-1023 {
      padding: 0 35.97px 0 33.89px;
      width: min-content;

      span {
        display: none;
      }
    }

    @include vp-767 {
      padding: 22px 25px;
      min-height: 62px;
      border-radius: 10px;
      z-index: 15;
    }
  }

  @include hover-focus {
    opacity: 1;
  }
}

.registration__subdescription {
  padding: 0;
  margin: 0;
  margin-top: size(30px);
  font-weight: 300;
  font-size: size(28px);
  line-height: 107%;
  letter-spacing: 0.01em;

  @include vp-1023 {
    margin-top: 39px;

    font-size: 24px;
    line-height: 125%;
  }

  @include vp-767 {
    width: 212px;

    margin-top: 17px;
    margin-right: 10px;
    font-size: 14px;
    line-height: 157%;
    text-align: center;
  }
}

.registration__buttons-wrapper {
  display: flex;
  column-gap: size(105px);
  margin-left: size(36px);

  @include vp-1023 {
    flex-direction: column;
    margin-left: 75px;
    margin-top: -15px;
    align-self: start;
  }

  @include vp-767 {
    margin: 0;
    row-gap: 1px;
  }
}

.registration__link {
  display: flex;
  align-items: center;
  column-gap: size(30px);
  color: $color-pattens-blue;

  font-weight: 700;
  font-size: size(28px);
  line-height: 100%;
  text-transform: uppercase;


  transition: color $trans-default,
    opacity $trans-default;

  @include hover-focus {
    color: #4d99d6;
  }

  &:active {
    opacity: 0.3;
  }

  @include vp-1023 {
    column-gap: 23px;

    span:last-child {
      position: relative;
      top: 4px;
    }

    &:last-child {
      svg {
        width: 35px;
        height: 50px;
      }
    }
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 138%;
    column-gap: 16px;

    span:last-child {
      position: relative;
      top: 1px;
    }

    &:last-child {
      svg {
        width: 25px;
        height: 24px;
      }
    }
  }
}

.registration__link-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: size(90px);
  aspect-ratio: 1;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: $color-midnight-express-darkerer;


  @include vp-1023 {
    width: 68px;

    svg {
      width: 30px;
      height: 30px;
    }
  }

  @include vp-767 {
    width: 45px;

    svg {
      width: 18px;
      height: 18px;
    }
  }
}
