.registration {
  position: relative;
  z-index: 15;
  margin-top: -60px;

  .container {
    margin-top: 60px;
    padding-top: 235px;
    padding-bottom: 104px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 43px;
    color: $color-default-white;
    background-color: $color-blue-zodiac;
    border-radius: 0 0 56px  56px;
  }
}

.registration__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 95px;
  line-height: 47%;
}

.registration__description {
  margin: 0;
  padding: 0 34px;
  width: 655px;

  font-weight: 300;
  font-size: 28px;
  line-height: 111%;

  text-align: center;
}

.registration__link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: $color-pale-cornflower-blue;
}

.registration__input-wrapper {
  display: flex;


}
