.btn {
  display: inline-flex;
  padding: 0 37.97px 0 34.89px;
  align-items: center;
  min-height: 80px;
  width: 284.52px;
  justify-content: space-between;

  font-weight: 700;
  font-size: 24px;
  line-height: 100%;

  color: $color-midnight-express-darker;

  border-radius: 20px;
  background-color: $color-pale-cornflower-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
