.btn {
  display: inline-flex;
  padding: 0 size(37.97px) 0 size(34.89px);
  align-items: center;
  min-height: size(80px);
  width: size(284.52px);
  justify-content: space-between;

  font-weight: 700;
  font-size: size(24px);
  line-height: 100%;

  color: $color-midnight-express-darker;
  user-select: none;

  border-radius: size(20px);
  background-color: $color-pale-cornflower-blue;
  border: none;
  cursor: pointer;

  transition: background-color $trans-default,
    opacity $trans-default;

  span,
  svg {
    transition: opacity $trans-default;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    background-color: $color-picton-blue;
  }

  &:active {
    span,
    svg {

      opacity: 0.3;
    }
  }
}
