.custom-input,
.custom-textarea {
  position: relative;
  display: flex;

  @media screen and (max-width: 767px) {
    padding: 4px 0 48px 0;
    width: 100%;
    flex-grow: 1;
  }

  @include vp-1023 {
    flex-grow: 1;
  }


  @include vp-767 {
    margin-right: -10px;
    padding: 0;
  }

  label {
    display: flex;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 767px) {
      align-items: flex-start;
      flex-direction: column;
    }

    input,
    textarea {
      flex-grow: 1;
      width: 844px;
      padding-left: 36px;
      min-height: 81px;
      // padding: 10px;

      font-weight: 700;
      font-size: 24px;
      line-height: 100%;

      border: none;
      border-radius: 20px 0 0 20px;
      outline: none;

      transition: color $trans-default;

      @include vp-1023 {
        max-width: unset;
        width: 100%;
        padding-left: 36px;
        min-height: 80px;
      }

      @include vp-767 {
        padding-left: 25px;
        min-height: 62px;
        border-radius: 10px 0 0 10px;
      }

      &.error {
        color: #dc3545;
      }

      &.valid {
        color: #28a745;
      }

      &::placeholder {
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        color: $color-accent-main;
        opacity: 0.3;

        @include vp-767 {
          font-size: 18px;
          line-height: 100%;
        }
      }
      // &:hover {
      //   border: 2px solid rgba(#000000, 0.5);
      // }

      // &:focus {
      //   border: 2px solid rgba(#000000, 0.8);
      // }
    }
  }

  &__label {
    @media screen and (max-width: 767px) {
      margin: 0 0 18px 0;
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border: 2px solid #ff1553;

      &:focus,
      &:hover {
        border: 2px solid rgba(#ff1553, 0.5);
      }
    }
  }

  &.is-valid {
    input {
      border: 2px solid #22b259;

      &:focus,
      &:hover {
        border: 2px solid rgba(#22b259, 0.5);
      }
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;


    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}
