.footer {
  position: relative;
  z-index: 21;
  margin-top: -60px;

  .container {
    border-radius: 56px  56px 0 0;
    padding-top: 5px;
    background-color: $color-default-white;
    min-height: 152px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 -5px 20px rgba(0, 0, 0, 0.25));
  }
}


.footer__logo.logo {
  position: absolute;
  left: 58px;
  top: calc(50% - 23px);
  color: $color-midnight-express-dark;
}

.footer__social-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  max-width: 924px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  aspect-ratio: 1;
  flex-shrink: 0;
  border-radius: 50%;

  background-color: $color-pale-cornflower-blue;
}
