.footer {
  position: relative;
  z-index: 21;
  margin-top: size(-60px);

  .container {
    border-radius: size(56px)  size(56px) 0 0;
    padding-top: size(15px);
    background-color: $color-default-white;
    min-height: size(152px);
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 size(-5px) size(20px) rgba(0, 0, 0, 0.25));

    @include vp-1023 {

      padding-top: 15px;
      min-height: 140px;
    }

    @include vp-767 {
      border-radius: 30px 30px 0 0;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 31px;
      min-height: 239px;
      row-gap: 46px;
    }
  }
}


.footer__logo.logo {
  position: absolute;
  left: size(58px);
  top: calc(50% - #{size(23px)});
  color: $color-midnight-express-dark;

  @include vp-1023 {
    left: 38px;
    top: calc(50% - 15px);
  }

  @include vp-767 {
    position: static;
    height: 15px;
    display: flex;
    justify-content: center;

    span {
      position: static;
      transform: translate(0);

      svg {
        width: 100px;
        height: 20px;
      }
    }

    img {
      display: none;
    }
  }
}

.footer__social-list {
  max-width: size(924px);
}
