.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 21;

  @include vp-767 {
    min-width: 320px;
  }
}


.header .container {
  position: absolute;
  top: size(49px);
  left: 50%;
  display: flex;
  flex-wrap: wrap;
  min-width: unset;
  justify-content: flex-start;
  transform: translateX(-50%);
  width: 100%;
  gap: size(40px);
  z-index: 2;
  align-items: center;

  @include vp-1023 {
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    min-height: 128px;
    transform: translateX(0);
  }

  @include vp-767 {
    min-height: 87px;
    min-width: 320px;
    border-radius: 0;
    width: 100%;
  }

  &::after {
    position: relative;
    top: size(1px);
    content: "";
    width: size(60px);
    height: size(2px);
    background-color: $color-default-white;
    margin-right: size(5px);
    order: 0;

    @include vp-1023 {
      display: none;
    }
  }
}

.header__logo.logo {
  transition: color $trans-default;
  color: $color-default-white;

  img {
    transition: opacity $trans-default;
    opacity: 1;
  }

  &--menu-is-open {

    color: $color-midnight-express-dark;

    img {
      opacity: 0;
    }
  }

  @include vp-1023 {
    position: relative;
    top: 2px;
    left: 1px;
    z-index: 3;
  }

  @include vp-767 {
    height: 50px;
    display: flex;

    span {
      left: 23px;
      right: 0;
      top: 25px;

      svg {
        width: 100px;
        height: 20px;
      }
    }

    img {
      display: none;
    }
  }
}


.header__nav {
  order: 1;
}
