// попробуй вместо абсолюта потом перепиши на маргин отрицательный

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 21;

  @include vp-1023 {
    min-width: 320px;
  }
}


.header .container {
  position: absolute;
  top: 49px;
  left: 50%;
  display: flex;
  flex-wrap: wrap;
  min-width: unset;
  justify-content: flex-start;
  transform: translateX(-50%);
  width: 100%;
  gap: 40px;
  z-index: 2;
  align-items: center;

  @include vp-1023 {
    left: 0;
    top: 44px;

    width: 100%;
    min-width: 320px;

    transform: translateX(0);
  }

  @include vp-767 {
    left: 0;
    top: 20px;

    padding: 0;
    min-width: 320px;
    border-radius: 0;
    width: 100%;
  }

  &::after {
    position: relative;
    top: 1px;
    content: "";
    width: 60px;
    height: 2px;
    background-color: $color-default-white;
    margin-right: 5px;
    order: 0;

    @include vp-1023 {
      display: none;
    }
  }
}

.header__logo.logo {

  color: $color-default-white;

  @include vp-1023 {
    top: 0;
  }

  @include vp-767 {
    height: 50px;
    display: flex;

    span {
      left: 23px;
      right: 0;
      top: 25px;

      svg {
        width: 100px;
        height: 20px;
      }
    }

    img {
      display: none;
    }
  }
}


.header__nav {
  order: 1;

  @include vp-1023 {
    display: none;
  }
}

.header__contacts-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  gap: 7px;
  order: 1;

  @include vp-1023 {
    display: none;
  }
}

.header__contacts-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: $color-jordy-blue;
}

