

.level {
  --dote-width: 3px;
  --wrapper-radius: 63px;

  @include vp-767 {
    --dote-width: 3px;
    --wrapper-radius: 45px;
  }
  position: relative;

  width: var(--wrapper-radius);
  height: var(--wrapper-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  border-radius: 50%;
  background: $color-default-white;

  &::before {
    content: "";
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translateX(-50%) translateY(-50%);
    z-index: 3;
    display: flex;
    width: calc(var(--wrapper-radius) - var(--dote-width) * 2);
    height: calc(var(--wrapper-radius) - var(--dote-width) * 2);

    background: $color-default-white;

    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    width: var(--wrapper-radius);
    height: var(--wrapper-radius);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    background: conic-gradient(
        #4d99d6 0deg calc(var(--level, 0) * 3.6deg),
        rgba(255, 255, 255, 0) calc(var(--level, 0) * 3.6deg) 360deg
      );

    @include vp-1023 {

      background: conic-gradient(
        #ff8d30 0deg calc(var(--level, 0) * 3.6deg),
        rgba(255, 255, 255, 0) calc(var(--level, 0) * 3.6deg) 360deg
      );
    }
  }

  &__dote {
    position: absolute;
    top: 0;
    // left: calc(50% - 10px);
    left: calc(50% - ( var(--dote-width)/2));
    display: flex;
    width: var(--dote-width);
    height: var(--dote-width);
    background-color: #4d99d6;
    border-radius: 50%;

    @include vp-1023 {

      background-color: #ff8d30;
    }
    z-index: 3;
  }

  &__wrapper {
    position: absolute;
    top: 50%;
    left: calc(50%);
    border-radius: 50%;
    background-color: $color-default-white;

    width: var(--wrapper-radius);
    height: var(--wrapper-radius);

    transform: translateX(-50%) translateY(-50%) rotate(calc(var(--level, 0) * 3.6deg));

    &::before {
      content: "";
      position: absolute;

      top: 0;
      left: calc(50% - ( var(--dote-width)/2));
      z-index: 3;
      display: flex;

      width: var(--dote-width);
      height: var(--dote-width);

      border-radius: 50%;

      background: #4d99d6;

      @include vp-1023 {

        background-color: #ff8d30;
      }
    }
  }

  &__description-container {
    position: relative;
    top: 3px;
    left: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3px;

    z-index: 3;

    .level__count {
      font-weight: 700;
      font-size: 24px;
      line-height: 100%;

      &::after {
        content: "";
        position: absolute;
        top: calc(50% + 2px);
        left: 50%;
        display: block;
        height: 1px;
        width: 34px;
        opacity: 0.1;
        background-color: $color-default-black;
        transform: translateX(-50%);
      }
    }

    .level__description {
      opacity: 0.4;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;

      color: $color-default-black;

      @include vp-1023 {

        display: none;
      }
    }
  }
}

