.logo {
  position: relative;
  top: -size(2px);
  height: min-content;
  order: -1;
  display: flex;
  width: size(200px);


  &[href] {
    @include hover-focus {
      img {
        opacity: 0.7;
      }
    }
  }

  @include vp-767 {
    width: min-content;
  }

  &-description {
    position: absolute;
    right: size(-3px);
    top: size(28px);
    transform: translateY(-50%);
    color: inherit;

    @include vp-1023 {
      right: 32px;
      top: 27px;
    }

    @include vp-767 {
      width: 100px;
      right: 32px;
      top: 27px;
    }

    & svg {
      width: size(133px);
      height: size(25px);
      filter: drop-shadow(0 size(1px) size(2px) rgba(0, 0, 0, 0.3));

      @include vp-1023 {
        width: 111px;
        height: 24px;
      }
    }
  }


  img {
    width: size(200px);
    height: size(50px);

    transition: opacity $trans-default;


    @include vp-1023 {
      width: 166px;
      height: 42px;
    }
  }
}
