.logo {
  position: relative;
  top: -2px;
  height: min-content;
  order: -1;
  display: flex;
  width: 200px;


  @include vp-767 {
    width: min-content;
  }

  &-description {
    position: absolute;
    right: -3px;
    top: 30px;
    transform: translateY(-50%);
    color: inherit;

    @include vp-1023 {
      right: 32px;
      top: 27px;
    }

    @include vp-767 {
      width: 100px;
      right: 32px;
      top: 27px;
    }
  }

  & svg {
    @include vp-1023 {
      width: 111px;
      height: 24px;
    }
  }

  img {
    width: 200px;
    height: 50px;

    @include vp-1023 {
      width: 166px;
      height: 42px;
    }
  }
}
