.main-title {
  padding: 0;
  margin: 0;

  font-weight: 700;
  font-size: size(95px);
  line-height: size(55px);

  font-variant: all-small-caps;

  color: $color-midnight-express-dark;

  // @include vp-1023 {

  // }
}
