.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  row-gap: size(20px);


  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: size(62px);
    aspect-ratio: 1;
    flex-shrink: 0;
    border-radius: 50%;

    transition: opacity $trans-default,
      background-color $trans-default;
    background-color: $color-pale-cornflower-blue;

    @include hover-focus {


      background-color: #4d99d6;
    }

    svg {
      transition: opacity $trans-default;
      width: size(32px);
      height: size(32px);
    }

    &:active {
      svg {

        opacity: 0.3;
      }
    }

    @include vp-767 {
      width: 45px;

      svg {
        width: 23px;
        height: 23px;
      }

      &--vk {
        svg {
          width: 32px;
          height: 31px;
        }
      }
    }
  }
}
