
.tooltip {
  opacity: 0;
  z-index: -1;
  position: absolute;
  bottom: -11px;
  left: 50%;
  padding: 25px 12px 18px 11px;
  display: inline;
  white-space: nowrap;


  font-weight: 400;
  font-size: 20px;
  line-height: 20px;

  color: $color-default-white;
  background-color: $color-midnight-ocean;
  border-radius: 4px;

  transform: translateY(100%) translateX(-50%);

  transition: opacity $trans-default;

  pointer-events: none;

  svg {
    position: absolute;
    top: -7px;
    left: 50%;

    color: $color-midnight-ocean;

    transform: translateX(-50%) rotate(180deg);

    width: size(11px);
    height: size(11px);
  }
}
