
.tooltip {
  opacity: 0;
  z-index: -1;
  position: absolute;
  bottom: -11px;
  left: 50%;

  padding: 25px 12px 18px 11px;

  transform: translateY(100%) translateX(-50%);
  background-color: $color-midnight-ocean;
  border-radius: 4px;

  transition: opacity $trans-default;

  display: inline;
  white-space: nowrap;

  font-weight: 400;
  font-size: 20px;
  line-height: 20px;

  color: $color-default-white;


  svg {
    position: absolute;
    top: -5px;
    left: 50%;

    color: $color-midnight-ocean;

    transform: translateX(-50%) rotate(180deg);

    width: size(11px);
    height: size(11px);
  }
}
