.catalog-form {
  display: flex;
  flex-direction: column;
  padding: 46px 34px 46px 48px;
  row-gap: 19px;
  width: 285px;
  border-radius: 20px;
  background-color: $color-pattens-blue;
  color: $color-catalina-blue;
  // width: min-content;
  // min-height: 814px;
  @include vp-1023 {
    width: 100%;
    padding: 38px 19px 37px 34px;
    row-gap: 25px;
  }

  @include vp-767 {
    width: 100%;
    padding: 27px 21px 46px 25px;
    row-gap: 0;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    // color: $color-catalina-blue;
    margin-bottom: 14px;
    width: unset;
    // min-height: 814px;
    @include vp-1023 {
      margin-bottom: 50px;
    }

    @include vp-767 {
      margin-bottom: 25px;
      font-size: 22px;
      letter-spacing: 0.02em;
    }
  }

  &__button {
    margin: 0;
    padding: 0 8px 0 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;

    border: none;
    color: inherit;
    text-transform: uppercase;

    background-color: $color-transparent;

    cursor: pointer;

    svg {
      transition: transform $trans-default;
      transform: rotate(0deg);
      width: 16px;
      height: 6px;
    }

    @include vp-1023 {
      cursor: default;
      pointer-events: none;

      &::after {
        content: ":";
        display: block;
      }

      svg {
        display: none;
      }
    }

    @include vp-767 {
      padding: 10px 0;
      font-weight: 700;
      font-size: 16px;
      line-height: 112%;

      cursor: pointer;
      pointer-events: all;

      &::after {
        content: ":";
        display: none;
      }

      svg {
        display: flex;
      }
    }

    &--is-active {
      svg {
        transform: rotate(180deg);
      }


      + .catalog-form__checkbox-wrapper,
      + .catalog-form__input-container {
        display: flex;
      }
    }
  }


  &__fieldset {
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    border: none;

    @include vp-1023 {
      flex-direction: row;
      justify-content: space-between;
    }

    @include vp-767 {
      flex-direction: column;
      // justify-content: space-between;
    }

    &--level {
      @include vp-1023 {
        position: relative;
        top: -13px;
        padding-right: 17px;
      }

      @include vp-767 {
        position: static;
        flex-direction: column;
        padding-right: 0;

        // justify-content: space-between;
      }
    }
  }

  &__checkbox-wrapper {
    display: none;
    padding: 25px 0 12px;
    flex-direction: column;
    row-gap: 16px;
    column-gap: 2px;
    flex-wrap: wrap;

    @include vp-1023 {
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    @include vp-767 {
      display: none;
      margin-top: 3px;
      margin-bottom: 22px;
      row-gap: 10px;
      flex-direction: column;
      justify-content: space-between;
    }

    &--transport {
      column-gap: 0;
      padding: 18px 0 12px;
      flex-direction: row;

      @include vp-1023 {
        position: relative;
        top: -4px;
        padding: 0;
        width: 100%;
        max-width: 522px;
        justify-content: start;

        label {
          min-width: unset;
        }
      }

      @include vp-767 {
        position: static;
        gap: 1px;
        margin: 7px 0 21px;
      }
    }
  }

  &__custom-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 24px;
    height: 24px;

    border-radius: 4px;
    background-color: $color-default-white;

    svg {
      width: 11px;
      height: 11px;
    }

    @include vp-767 {
      width: 18px;
      height: 18px;

      &-text {
        position: relative;
        top: 3px;
      }
    }
  }


  &__custom-checkbox--transport {

    border-radius: 50%;
    width: 44px;
    height: 44px;

    svg {
      width: 30px;
      height: 30px;
    }

    @include vp-767 {
      width: 32px;
      height: 32px;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }


  &__label {
    display: flex;
    align-items: center;
    column-gap: 13px;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: $color-default-black;

    @include vp-1023 {
      min-width: 168px;
    }

    @include vp-767 {
      font-weight: 400;
      font-size: 15px;
      line-height: 133%;
      column-gap: 9px;
    }
  }

  &__input {
    position: relative;
    border: 1px solid #cbced9;
    border-right: none;

    border-radius: 4px 0 0 4px;
    // width: calc(192px/2);
    width: 100%;
    min-height: 46px;
    margin: 0;
    display: flex;
    align-items: center;

    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.04em;

    flex-grow: 0;

    &:last-of-type {
      border-left: none;
      border-right: 1px solid #cbced9;


      border-radius: 0 4px 4px 0;
    }

    @include vp-1023 {
      width: 74px;
      flex-grow: 1;
    }

    @include vp-767 {
      min-height: 35px;

      font-weight: 500;
      font-size: 14px;
      line-height: 93%;
      letter-spacing: 0.06em;

      width: 100%;
      flex-grow: 0;
    }

    &-container {
      display: none;
      padding: 18px 12px 10px 0;
      flex-direction: column;
      row-gap: 22px;

      @include vp-1023 {

        padding: 0;
        gap: 67px;
        flex-direction: row;
      }

      @include vp-767 {
        flex-direction: column;
        gap: 4px;
      }
    }

    &-wrapper {

      position: relative;
      display: flex;

      &-stick {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 14px;
        height: 1px;
        background-color: #cbced9;
        pointer-events: none;
        transform: rotate(-180deg) translateX(50%);
      }

      @include vp-1023 {
        label {
          display: none;
        }
      }

      @include vp-767 {
        margin-top: 3px;
        margin-right: 4px;
      }

      &::before {
        content: "";
        z-index: 1;
        position: absolute;
        top: 0;
        left: 50%;
        width: 1px;
        height: 100%;
        background-color: #cbced9;
        pointer-events: none;
      }

      &::after {
        content: "";
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 15px;
        height: 14px;
        background-color: $color-default-white;
        transform: translateX(-50%) translateY(-50%);
        pointer-events: none;
      }
    }
  }

  &__submit-button {
    // margin: 9px;
    padding: 0;
    margin-top: 10px;
    margin-right: 11px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 49px;

    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    text-transform: uppercase;
    background-color: $color-default-white;
    border: none;
    color: inherit;
    cursor: pointer;

    @include vp-1023 {
      margin-top: 34px;
    }

    @include vp-767 {
      margin-right: 0;

      margin-top: 20px;
      min-height: 41px;

      font-weight: 700;
      font-size: 17px;
      line-height: 100%;
    }
  }
}

.catalog-form__checkbox {
  &:not(:checked) {
    & + .catalog-form__custom-checkbox {
      svg {
        display: none;
      }

      &--transport {
        svg {
          opacity: 0.2;
          display: block;
        }
      }
    }
  }
}


.catalog-form__noui-slider-container {
  height: 13px;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;

  @include vp-1023 {
    margin-top: 14px;
    width: 100%;
    order: -1;
  }

  @include vp-767 {
    margin-top: 14px;
    width: 100%;
    order: 1;
  }

  .noUi-target {
    height: 3px;
    min-width: unset;
    width: 100%;
    background: $color-transparent;
    border-radius: 4px;
    border: none;
    box-shadow: unset;

    @include vp-1023 {
      min-width: 275px;
    }

    @include vp-767 {
      min-width: unset;
    }
  }

  .noUi-base {
    height: 3px;
  }


  .noUi-connects {
    height: 3px;
    background-color: rgb(22, 28, 53, 0.2);
  }

  .noUi-connect {
    height: 3px;
    opacity: 1;
    background-color: $color-midnight-express-darker;
  }

  .noUi-handle {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    right: -7px;
    border: none;
    box-shadow: unset;

    background-color: $color-midnight-express-darker;
    cursor: pointer;

    &::after,
    &::before {
      display: none;
    }

    &-upper {
      right: 0;
    }

    &-lower {
      right: -14px;
    }
  }
}

