.catalog-cards {
  .container {
    display: flex;
    flex-direction: row;
    min-height: size(1000px);
    padding: size(141px) size(60px) size(139px) size(59px);

    justify-content: space-between;
    row-gap: size(50px);
    flex-wrap: wrap;

    @include vp-1023 {
      padding: 182px 40px 121px  40px;
      background-color: $color-solitude;
      flex-direction: column;
      row-gap: 41px;
    }

    @include vp-767 {
      row-gap: 28px;
      padding: 76px 25px 106px;
    }
  }

  &__form-container {
    flex-grow: 0;
    order: 1;

    @include vp-1023 {
      order: -1;

      flex-grow: 1;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: size(30px);
    order: -1;

    @include vp-1023 {

      row-gap: 40px;
      order: -1;
    }

    @include vp-767 {

      row-gap: 10px;
    }
  }

  &__more-button {
    position: relative;
    right: size(30px);
    padding: size(35px);
    display: flex;
    margin: 28px auto 36px;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: size(20px);
    line-height: 100%;
    text-transform: uppercase;

    column-gap: size(20px);
    border: none;
    background-color: $color-transparent;

    transition: opacity $trans-default;
    cursor: pointer;

    svg {
      transition: opacity $trans-default;
      width: size(26px);
      height: size(26px);
    }

    @include vp-1023 {
      column-gap: 24px;
      right: -5px;
      padding: 17px;
      margin: 29px auto 34px;
    }

    @include vp-767 {
      column-gap: 14px;
      right: -6px;
      top: 1px;
      margin: 10px auto;
      padding: 10px 6px 8px 6px;

      svg {
        position: relative;
        top: -3px;
        width: 18px;
        transition: opacity $trans-default;
      }
    }

    span {
      font-weight: 700;
      font-size: size(20px);
      line-height: 100%;
      text-transform: uppercase;
      color: $color-catalina-blue;

      @include vp-767 {
        font-size: 17px;
        line-height: 176%;
      }
    }

    @include hover-focus {
      opacity: 0.6;

      &:active {
        svg {
          opacity: 0.3;
        }
      }
    }

    &:active {
      svg {
        opacity: 0.3;
      }
    }
  }

  &__padination-wrapper {
    margin-top: size(6px);
    padding: size(10px) size(30px);
    padding-top: size(12px);
    flex-grow: 1;
    min-height: size(100px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: $color-default-white;
    border-radius: size(20px);

    @include vp-1023 {
      padding: 10px 21px 10px 28px;
    }

    @include vp-767 {
      position: relative;
      min-height: unset;
      padding: 1px 0 0 0;

      &::after {
        content: "";
        top: 0;
        position: absolute;
        left: 50%;
        display: block;
        height: 100%;
        width: 1px;
        background-color: $color-solitude;
      }
    }
  }

  &__padination-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    @include vp-767 {

      width: 100%;
      display: flex;
      justify-content: center;

      li {
        flex-grow: 1;
      }

      &--buttons {
        display: none;
      }
    }
  }

  &__padination-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: size(50px);
    height: size(50px);

    font-weight: 700;
    font-size: 20px;
    line-height: 100%;

    border: none;
    border-radius: 50%;
    background-color: $color-transparent;
    transition: opacity $trans-default, background-color $trans-default;

    cursor: pointer;

    @include hover-focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    &.is-active {
      background-color: $color-picton-blue;
    }

    &--arrow {
      width: size(40px);
      color: $color-catalina-blue;

      @include vp-767 {
        width: 100%;
      }

      svg {
        position: relative;
        top: size(-1px);
        right: size(2px);
        transform: rotate(90deg);
        width: size(21px);
        height: size(13px);

        @include vp-767 {
          right: 0;
        }
      }
    }

    &--next {
      svg {
        right: size(-2px);

        transform: rotate(-90deg);

        @include vp-1023 {
          right: 0;
        }
      }
    }
  }
}
