.catalog-card {
  position: relative;
  min-width: 951px;
  display: grid;
  background-color: $color-default-white;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);

  grid-template-columns: min-content minmax(min-content, 342px) 1fr;
  grid-template-rows: minmax(98px, min-content) minmax(90px, min-content) min-content;

  border-radius: 20px;

  color: $color-catalina-blue;

  @include vp-1023 {
    min-width: unset;
    width: 100%;
    grid-template-columns: min-content min-content min-content;
    grid-template-rows: repeat(2, min-content) 50px;
  }

  @include vp-767 {
    min-width: unset;

    grid-template-columns: min-content  min-content;
    grid-template-rows: repeat(6, min-content);
  }

  &__image-wrapper {
    grid-column: 1/2;
    grid-row: 1/-1;
    width: 285px;
    height: 285px;

    @include vp-767 {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    img {
      width: 285px;
      height: 285px;
    }

    @include vp-1023 {
      width: 190px;
      height: 190px;

      img {
        width: 190px;
        height: 190px;
      }
    }

    @include vp-767 {
      width: 70px;
      height: 70px;

      img {
        width: 70px;
        height: 70px;
      }
    }
  }

  &__title,
  &__description {
    margin: 0;
    padding: 0;
  }

  &__title {
    grid-column: 2/3;
    grid-row: 1/2;

    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    padding: 46px 20px 0 63px;

    @include vp-767 {
      grid-column: 2/3;
      grid-row: 1/2;
    }
  }

  &__description {
    grid-column: 2/3;
    grid-row: 2/3;
    // max-width: 226px;
    padding: 0 52px 20px 63px;

    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: $color-default-black;

    @include vp-767 {
      grid-column: 1/-1;
      grid-row: 2/3;
    }
  }

  &__buttons-container {
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    align-items: flex-start;
    padding-left: 56px;
    column-gap: 4px;

    @include vp-767 {
      grid-column: 1/-1;
      grid-row: -1/-2;
    }
  }

  &__transport-list {
    grid-column: 3/4;
    grid-row: 3/4;

    padding: 15px 20px 20px 47px;
    list-style: none;
    margin: 0;
    display: flex;
    column-gap: 8px;

    @include vp-767 {
      grid-column: 1/-1;
      grid-row: 5/6;
    }
  }

  &__call-button {
    // padding: 0;
    width: 149px;
    background-color: $color-pale-cornflower-blue;
  }

  &__likes-button {
    width: 50px;
    background-color: $color-lavender;

    &-wrapper {
      display: flex;
      align-items: center;

      font-weight: 700;
      font-size: 20px;
      line-height: 100%;
      text-transform: uppercase;
    }
  }

  &__flags-list {
    grid-column: 3/4;
    grid-row: 1/3;
    margin: 0;
    padding: 51px 10px 34px 48px;

    display: flex;
    flex-direction: column;
    gap: 14px;


    list-style: none;

    @include vp-767 {
      grid-column: 1/-1;
      grid-row: 4/5;
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 18px;

      img {
        width: 35px;
        height: 24px;
      }
    }
  }

  &__flags-description {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
  }

  &__online {
    position: absolute;
    top: 60px;
    left: 322px;

    display: block;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    background-color: $color-salmon;

    &--true {
      background-color: $color-lawn-green;
    }
  }

  &__level {
    position: absolute;
    top: 60px;
    left: 1000px;
  }
}

.catalog-card__likes-button,
.catalog-card__call-button {
  display: flex;
  min-height: 50px;

  align-items: center;
  justify-content: center;

  border-radius: 25px;

  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;

  border: none;
}
