.catalog-cards {
  .container {
    display: flex;
    flex-direction: row;
    min-height: 1000px;
    padding: 141px 60px 139px 59px;
    column-gap: 85px;
    row-gap: 50px;
    flex-wrap: wrap;

    @include vp-1023 {
      padding: 182px 40px 121px  40px;
      background-color: $color-solitude;
      flex-direction: column;
      row-gap: 41px;
    }

    @include vp-767 {
      row-gap: 28px;
      padding: 76px 25px 106px;
      // padding: 35px 0 21px;
    }
  }

  &__form-container {
    flex-grow: 0;
    order: 1;

    @include vp-1023 {
      order: -1;

      flex-grow: 1;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    order: -1;

    @include vp-1023 {

      row-gap: 40px;
      order: -1;
    }

    @include vp-767 {

      row-gap: 10px;
    }
  }

  &__more-button {
    position: relative;
    right: 30px;
    padding: 35px;
    display: flex;

    align-items: center;
    justify-content: center;
    align-self: center;

    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;

    column-gap: 20px;
    border: none;
    background-color: $color-transparent;

    cursor: pointer;

    @include vp-1023 {
      right: 0;
      padding: 6px;
    }

    span {
      font-weight: 700;
      font-size: 20px;
      line-height: 100%;
      text-transform: uppercase;
    }
  }

  &__padination-wrapper {
    margin-top: 6px;
    padding: 10px 30px;

    flex-grow: 1;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: $color-default-white;
    border-radius: 20px;

    @include vp-1023 {
      padding: 10px 21px 10px 28px;
    }
  }

  &__padination-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;

    @include vp-767 {
      &--buttons {
        display: none;
      }
    }
    // &:last-child {
    //   gap: 10px;
    // }
  }

  &__padination-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    background-color: $color-transparent;
    cursor: pointer;


    &--is-active {
      background-color: $color-picton-blue;
    }

    &--arrow {
      width: 40px;

      svg {
        transform: rotate(90deg);
        width: 20px;
        height: 13px;
      }
    }

    &--next {
      svg {
        transform: rotate(-90deg);
      }
    }
  }
}
