.catalog-form {
  background-color: $color-pattens-blue;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  color: $color-catalina-blue;
  // Убррешь
  width: 280px;
  min-height: 814px;

  &__button {
    margin: 0;
    padding: 0;

    display: flex;

    font-weight: 500;
    font-size: 20px;
    line-height: 110%;

    background-color: $color-transparent;
    border: none;
    color: inherit;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    // color: $color-catalina-blue;
  }

  &__fieldset {
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    border: none;
  }


  &__submit-button {
    margin: 0;
    padding: 0;
    border-radius: 25px;
    // width: 192px;
    // height: 49px;
    display: flex;

    font-weight: 500;
    font-size: 20px;
    line-height: 110%;

    background-color: $color-default-white;
    border: none;
    color: inherit;
  }
}


.catalog-form__noui-slider-container {
  height: 13px;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;

  .noUi-target {
    height: 3px;
    width: 100%;
    background: $color-transparent;
    border-radius: 4px;
    border: none;
    box-shadow: unset;
  }

  .noUi-base {
    height: 3px;
  }


  .noUi-connects {
    height: 3px;
    background-color: rgb(22, 28, 53, 0.2);
  }

  .noUi-connect {
    height: 3px;
    opacity: 1;
    background-color: $color-midnight-express-darker;
  }

  .noUi-handle {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    right: -7px;
    border: none;
    box-shadow: unset;

    // color: $color-midnight-express-darker;
    background-color: $color-midnight-express-darker;
    cursor: pointer;

    &::after,
    &::before {
      display: none;
    }
  }
}
