.catalog-form {
  display: flex;
  flex-direction: column;
  padding: 46px 34px 46px 48px;
  row-gap: 19px;
  min-width: 285px;
  border-radius: 20px;
  background-color: $color-pattens-blue;
  color: $color-catalina-blue;
  width: min-content;
  // min-height: 814px;

  &__title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    // color: $color-catalina-blue;
    margin-bottom: 14px;
  }

  &__button {
    margin: 0;
    padding: 0 8px 0 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;

    border: none;
    color: inherit;
    text-transform: uppercase;

    background-color: $color-transparent;

    cursor: pointer;

    svg {
      transition: transform $trans-default;
      transform: rotate(0deg);
      width: 16px;
      height: 6px;
    }

    &--is-active {
      svg {
        transform: rotate(180deg);
      }


      + .catalog-form__checkbox-wrapper,
      + .catalog-form__input-container {
        display: flex;
      }
    }
  }


  &__fieldset {
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    border: none;
  }

  &__checkbox-wrapper {
    display: none;
    padding: 25px 0 12px;
    flex-direction: column;
    row-gap: 16px;
    column-gap: 2px;
    flex-wrap: wrap;

    &--transport {
      column-gap: 0;
      padding: 18px 0 12px;
      flex-direction: row;
    }
  }

  &__custom-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 24px;
    height: 24px;

    border-radius: 4px;
    background-color: $color-default-white;

    svg {
      width: 11px;
      height: 11px;
    }
  }

  &__custom-checkbox--transport {

    border-radius: 50%;
    width: 44px;
    height: 44px;

    svg {
      width: 30px;
      height: 30px;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    column-gap: 13px;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: $color-default-black;
  }

  &__input {
    position: relative;
    border: 1px solid #cbced9;
    border-right: none;

    border-radius: 4px 0 0 4px;
    // width: calc(192px/2);
    width: 100%;
    min-height: 46px;
    margin: 0;
    display: flex;
    align-items: center;

    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.04em;

    &:last-of-type {
      border-left: none;
      border-right: 1px solid #cbced9;


      border-radius: 0 4px 4px 0;
    }


    &-container {
      display: none;
      padding: 18px 12px 10px 0;
      flex-direction: column;
      row-gap: 22px;
    }

    &-wrapper {
      position: relative;
      display: flex;

      &-stick {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 14px;
        height: 1px;
        background-color: #cbced9;
        pointer-events: none;
        transform: rotate(-180deg) translateX(50%);
      }

      &::before {
        content: "";
        z-index: 1;
        position: absolute;
        top: 0;
        left: 50%;
        width: 1px;
        height: 100%;
        background-color: #cbced9;
        pointer-events: none;
      }

      &::after {
        content: "";
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 15px;
        height: 14px;
        background-color: $color-default-white;
        transform: translateX(-50%) translateY(-50%);
        pointer-events: none;
      }
    }
  }

  &__submit-button {
    // margin: 9px;
    padding: 0;
    margin-top: 10px;
    margin-right: 11px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 49px;

    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    text-transform: uppercase;
    background-color: $color-default-white;
    border: none;
    color: inherit;
    cursor: pointer;
  }
}

.catalog-form__checkbox {
  &:not(:checked) {
    & + .catalog-form__custom-checkbox {
      svg {
        display: none;
      }

      &--transport {
        svg {
          opacity: 0.2;
          display: block;
        }
      }
    }
  }
}


.catalog-form__noui-slider-container {
  height: 13px;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;

  .noUi-target {
    height: 3px;
    width: 100%;
    background: $color-transparent;
    border-radius: 4px;
    border: none;
    box-shadow: unset;
  }

  .noUi-base {
    height: 3px;
  }


  .noUi-connects {
    height: 3px;
    background-color: rgb(22, 28, 53, 0.2);
  }

  .noUi-connect {
    height: 3px;
    opacity: 1;
    background-color: $color-midnight-express-darker;
  }

  .noUi-handle {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    right: -7px;
    border: none;
    box-shadow: unset;

    background-color: $color-midnight-express-darker;
    cursor: pointer;

    &::after,
    &::before {
      display: none;
    }

    &-upper {
      right: 0;
    }

    &-lower {
      right: -14px;
    }
  }
}

