.country-filter {
  position: relative;
  z-index: 20;

  .container {
    margin-top: -60px;

    display: flex;
    flex-direction: column;
    padding: 0;

    @include vp-767 {
      background-color: $color-lavender;
    }
  }

  &__list-container {
    min-height: 2762px;
    padding: 118px 61px 10px 53px;

    @include vp-1023 {
      padding: 108px 61px 10px 53px;
      min-height: 901px;
      display: flex;
      flex-direction: column;
    }

    @include vp-767 {
      padding: 62px 23px 10px 25px;
      min-height: 901px;
    }
  }

  &__sort {
    &-wrapper {
      padding: 4px 27px;
      display: flex;

      font-weight: 700;
      font-size: 20px;
      line-height: 100%;
      text-transform: uppercase;

      color: $color-midnight-express-dark;
      column-gap: 5px;

      svg {
        width: 23px;
        height: 15px;
      }

      @include vp-1023 {
        padding: 5px 10px;
        justify-content: space-between;

        svg {
          display: none;
        }
      }

      @include vp-767 {
        position: relative;
        flex-direction: column;
        padding: 20px 49px 17px 15px;
        row-gap: 9px;

        font-size: 16px;
        line-height: 112%;

        svg {
          position: absolute;
          left: 0;
          display: block;
          width: 16px;
          height: 12px;
        }
      }
    }

    &-list,
    &-desctiption {
      margin: 0;
      padding: 0;
    }

    &-desctiption {

      margin-left: 17px;

      @include vp-1023 {
        display: none;
      }

      @include vp-767 {
        margin-left: 12px;
        display: flex;
      }
    }

    &-list {
      list-style: none;
      display: flex;
      gap: 24px;

      @include vp-1023 {
        gap: 0;
      }

      @include vp-767 {
        display: flex;
        flex-direction: column;
      }
    }

    &-button {
      padding: 0;
      background-color: $color-transparent;

      display: flex;
      align-items: center;
      border: none;
      text-transform: uppercase;

      font-weight: inherit;
      font-size: inherit;
      line-height: inherit;

      color: $color-midnight-express-dark;

      opacity: 0.3;

      &--is-checked {
        opacity: 1;
      }

      @include vp-1023 {
        padding: 10px 10px;
      }

      @include vp-767 {
        padding: 5px 10px;
      }
    }

    &-hide-button {
      padding: 0;

      display: none;
      align-items: center;
      border: none;
      background-color: $color-transparent;

      font-weight: 700;
      font-size: 20px;
      line-height: 100%;
      text-transform: uppercase;

      color: $color-midnight-express-dark;

      column-gap: 48px;

      @include vp-1023 {
        display: flex;
        min-height: 22px;
      }

      @include vp-767 {
        position: absolute;
        right: 5px;
        top: 15px;
      }

      span {
        &:first-of-type {
          display: block;
        }

        &:last-of-type {
          display: none;
        }

        @include vp-767 {
          &:first-of-type,
          &:last-of-type {

            display: none;
          }
        }
      }

      svg {
        &:first-of-type {
          display: block;
        }

        &:last-of-type {
          display: none;
        }

        @include vp-767 {
          &:first-of-type,
          &:last-of-type {
            position: static;
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }


  &__letters-list {
    list-style: none;
    margin: 0;
    padding: 70px 70px 69px 42px;

    display: grid;
    grid-template-columns: repeat(5, min-content);
    grid-template-rows: 628px 474px 427px 473px;
    width: 100%;
    justify-content: space-between;
    row-gap: 23px;

    @include vp-1023 {
      position: relative;
      padding: 40px 0 48px;
      row-gap: 4px;
      grid-template-columns: repeat(5, min-content) 1fr;
      grid-template-rows: repeat(5, min-content);

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        grid-column: 6/7;
        grid-row: 1/-1;
      }
    }

    @include vp-767 {
      position: relative;
      padding: 0 26px 19px;
      justify-content: start;
      row-gap: 0;
      column-gap: 0;
      grid-template-columns: repeat(5, min-content);
      grid-template-rows: repeat(5, min-content) 1fr;

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 264px;
        grid-row: 6/7;
        grid-column: 1/-1;
      }
    }


    &-item {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      min-width: 209px;

      @include vp-1023 {
        row-gap: 3px;
        min-width: unset;
      }
    }

    &-button {
      padding: 0;

      display: flex;
      align-items: center;
      border: none;
      background-color: $color-transparent;

      font-weight: 700;
      font-size: 60px;
      line-height: 100%;
      text-transform: uppercase;
      color: $color-midnight-express-dark;

      @include vp-1023 {
        width: 75px;
        height: 80px;
        justify-content: center;
        opacity: 0.3;
      }

      @include vp-767 {
        margin: 0;
        outline: 1px solid #cbced9;
        width: 43.5px;
        height: 40.7px;
        opacity: 1;

        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        color: $color-catalina-blue;
        background-color: $color-default-white;
      }

      &--is-active {
        opacity: 1;

        @include vp-767 {
          outline: 1px solid  $color-catalina-blue;

          color: $color-default-white;
          background-color: $color-catalina-blue;
        }

        + .country-filter__countries-list {
          display: block;
        }
      }
    }
  }

  &__countries-list {
    list-style: none;
    margin: 0;
    padding: 0;


    @include vp-1023 {
      display: none;
      position: absolute;
      top: 49px;
      right: 0;
      min-width: 200px;
    }

    @include vp-767 {
      display: none;
      position: absolute;
      top: unset;
      bottom: 91px;
      right: unset;
      left: 25px;
    }

    &-button {
      padding: 0;

      display: flex;
      border: none;
      background-color: $color-transparent;
      text-transform: none;

      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      text-align: left;
      letter-spacing: 0.01rem;

      color: $color-accent-main;


      @include vp-767 {
        font-weight: 400;
        font-size: 16px;
        line-height: 138%;
      }
      // min-width: 200px;
      // }
    }
  }

  &__list-hide-button {
    display: flex;

    width: 100%;
    min-height: 100px;
    align-items: center;
    justify-content: center;

    column-gap: 23px;

    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;

    border-radius: 20px;
    border: none;

    color: $color-midnight-express-dark;

    background-color: #d6daed;

    svg {
      order: -1;
    }

    @include vp-1023 {
      margin-left: 23px;
      width: calc(100% - 38px);
    }

    @include vp-767 {
      margin-left: 0;
      width: 100%;
      min-height: 39px;
      padding-left: 14px;
      font-size: 16px;
      line-height: 125%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      column-gap: 11px;
      border-radius: 20px;

      svg {
        width: 15px;
        height: 15px;
      }

      span {
        position: relative;
        top: 3px;
      }
    }
  }
}

.country-filter__sort-hide-button--menu-is-open {
  span {
    &:first-of-type {
      display: none;
    }

    &:last-of-type {
      display: block;
    }
  }

  svg {
    &:first-of-type {
      display: none;
    }

    &:last-of-type {
      display: block;
    }
  }
}
