.country-filter {
  position: relative;
  z-index: 19;

  .container {
    margin-top: -60px;

    display: flex;
    flex-direction: column;
    padding: 0;

    @include vp-1023 {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $color-lavender;
      border-radius: 0 0 30px 30px;
    }
  }

  &__list-container {
    padding: 118px 61px 10px 53px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    @include vp-1023 {
      padding: 108px 61px 78px 53px;
      min-height: 199px;
      display: flex;
      flex-direction: column;
    }

    @include vp-767 {
      padding: 62px 23px 28px 25px;
      min-height: unset;
    }
  }

  &__sort {
    &-wrapper {
      padding: 4px 27px;
      display: flex;

      font-weight: 700;
      font-size: 20px;
      line-height: 100%;
      text-transform: uppercase;

      color: $color-midnight-express-dark;
      column-gap: 5px;

      svg {
        width: 23px;
        height: 15px;
      }

      @include vp-1023 {
        padding: 5px 10px;
        justify-content: space-between;

        svg {
          display: none;
        }
      }

      @include vp-767 {
        position: relative;
        flex-direction: column;
        padding: 20px 28px 17px 15px;
        row-gap: 9px;

        font-size: 16px;
        line-height: 112%;

        svg {
          position: absolute;
          left: 0;
          display: block;
          width: 16px;
          height: 12px;
        }
      }
    }

    &-list,
    &-desctiption {
      margin: 0;
      padding: 0;
    }

    &-desctiption {
      margin-left: 17px;
      font-weight: 700;
      font-size: 20px;
      line-height: 100%;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      pointer-events: all;

      background-color: $color-transparent;
      transition: opacity $trans-default;

      &:disabled {
        opacity: 0.9;
        color: inherit;
        pointer-events: none;
      }

      @include hover-focus {
        opacity: 0.7;
      }

      &:active {
        opacity: 0.3;
      }

      @include vp-1023 {
        pointer-events: none;
        display: none;
      }

      @include vp-767 {
        margin-left: 11px;
        display: flex;
      }
    }

    &-list {
      list-style: none;
      display: flex;
      gap: 24px;
      max-height: 3000px;

      @include vp-1023 {
        gap: 0;
      }

      @include vp-767 {
        display: flex;
        flex-direction: column;
        min-width: 272px;
        align-self: center;
      }

      &--is-hidden {
        display: none;
      }
    }

    &-button {
      padding: 0;
      background-color: $color-transparent;

      display: flex;
      align-items: center;
      border: none;
      text-transform: uppercase;

      font-weight: inherit;
      font-size: inherit;
      line-height: inherit;

      color: $color-midnight-express-dark;

      opacity: 0.3;

      cursor: pointer;

      &--is-active {
        opacity: 1;
      }

      @include vp-1023 {
        padding: 10px 10px;
      }

      @include vp-767 {
        padding: 5px 10px;
      }
    }

    &-hide-button {
      padding: 0;

      display: none;
      align-items: center;
      border: none;
      background-color: $color-transparent;

      font-weight: 700;
      font-size: 20px;
      line-height: 100%;
      text-transform: uppercase;

      color: $color-midnight-express-dark;

      column-gap: 48px;

      cursor: pointer;

      @include vp-1023 {
        display: flex;
        min-height: 22px;
      }

      @include vp-767 {
        position: absolute;
        right: 5px;
        top: 15px;
      }

      span {
        &:first-of-type {
          display: block;
        }

        &:last-of-type {
          display: none;
        }

        @include vp-767 {
          &:first-of-type,
          &:last-of-type {

            display: none;
          }
        }
      }

      svg {
        &:first-of-type {
          display: block;
        }

        &:last-of-type {
          display: none;
        }

        @include vp-767 {
          &:first-of-type,
          &:last-of-type {
            position: static;
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }


  &__letters-list {
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 50px 70px 39px 42px;
    // padding: 70px 70px 69px 42px;

    max-height: 3000px;
    display: grid;
    grid-template-columns: repeat(5, min-content);
    grid-template-rows: 628px 474px 427px 473px;
    width: 100%;
    justify-content: space-between;
    row-gap: 23px;

    &--is-hidden {
      display: none;
    }

    @include vp-1023 {
      position: relative;
      padding: 18px 3px 20px;
      row-gap: 4px;
      grid-template-columns: repeat(5, min-content) 1fr;
      grid-template-rows: repeat(5, min-content);

      &::after {
        content: "";
        pointer-events: none;
        display: block;
        width: 100%;
        height: 100%;
        grid-column: 6/7;
        grid-row: 1/-1;
      }
    }

    @include vp-767 {
      position: relative;
      padding: 0 26px 19px;
      justify-content: center;
      row-gap: 0;
      column-gap: 0;
      grid-template-columns: repeat(5, min-content);
      grid-template-rows: repeat(5, min-content) 1fr;

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 264px;
        grid-row: 6/7;
        grid-column: 1/-1;
      }
    }


    &-item {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      min-width: 209px;

      @include vp-1023 {
        row-gap: 3px;
        min-width: unset;
      }
    }

    &-button {
      padding: 0;
      pointer-events: none;

      display: flex;
      align-items: center;
      border: 1px solid $color-transparent;
      background-color: $color-transparent;

      font-weight: 700;
      font-size: 60px;
      line-height: 100%;
      text-transform: uppercase;
      color: $color-midnight-express-dark;

      transition: border $trans-default,
        opacity $trans-default;
      cursor: pointer;

      &:disabled {
        opacity: 0.7;
        pointer-events: none;
      }

      @include vp-1023 {
        pointer-events: all;
        transition: opacity $trans-default;
        width: 75px;
        height: 80px;
        justify-content: center;
        opacity: 0.3;

        &:disabled {
          opacity: 0.1;
          pointer-events: none;
        }
      }

      @include vp-767 {
        margin: 0;
        outline: 1px solid #cbced9;
        width: 43.5px;
        height: 40.7px;
        opacity: 1;

        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        color: $color-catalina-blue;
        background-color: $color-default-white;
      }

      &--is-active {
        opacity: 1;

        @include vp-767 {
          outline: 1px solid  $color-catalina-blue;

          color: $color-default-white;
          background-color: $color-catalina-blue;
        }

        // + .country-filter__countries-list {
        //   display: block;
        // }
      }

      @include hover-focus {
        border: 1px solid #959bb2;
      }

      &:active {
        border: 1px solid $color-catalina-blue;
      }
    }
  }

  &__countries-list {
    list-style: none;
    margin: 0;
    padding: 0;


    @include vp-1023 {
      display: none;
      position: absolute;
      top: 49px;
      right: 0;
      min-width: 200px;
    }

    @include vp-767 {
      display: none;
      position: absolute;
      top: unset;
      bottom: 91px;
      right: unset;
      left: 25px;
    }

    &-button {
      padding: 0;

      display: flex;
      border: none;
      background-color: $color-transparent;
      text-transform: none;

      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      text-align: left;
      letter-spacing: 0.01rem;

      color: $color-accent-main;


      @include vp-767 {
        font-weight: 400;
        font-size: 16px;
        line-height: 138%;
      }
      // min-width: 200px;
      // }
    }
  }

  &__list-hide-button {
    overflow: hidden;
    display: flex;
    padding: 20px 0;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

    column-gap: 23px;

    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;

    border-radius: 20px;
    border: none;

    color: $color-midnight-express-dark;
    background-color: #d6daed;

    cursor: pointer;

    &--is-hidden {
      display: none;
    }

    svg {
      order: -1;
    }

    @include vp-1023 {
      margin-left: 23px;
      width: calc(100% - 38px);
    }

    @include vp-767 {
      margin-left: 0;
      padding-left: 14px;
      width: 100%;
      height: 39px;
      font-size: 16px;
      line-height: 125%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      column-gap: 11px;
      border-radius: 20px;

      svg {
        width: 15px;
        height: 15px;
      }

      span {
        position: relative;
        top: 3px;
      }
    }
  }
}

.country-filter__sort-hide-button--menu-is-open {
  span {
    &:first-of-type {
      display: none;
    }

    &:last-of-type {
      display: block;
    }

    @include vp-767 {
      &:first-of-type,
      &:last-of-type {
        display: none;
      }
    }
  }

  svg {
    &:first-of-type {
      display: none;
    }

    &:last-of-type {
      display: block;
    }
  }
}


.country-filter__letters-list-item--is-visible {
  grid-column: 6 / 7;
  grid-row: 1 / -1;
  display: block;

  & ul {
    position: static;
    display: block;
    padding: 6px 10px 10px 87px;
  }

  @include vp-767 {
    grid-row: 6 / 7;
    grid-column: 1 / -1;

    & ul {
      padding: 11px 75px 0 0;
    }
  }
}

