mixin about()
  section.about
    .container
      h2.about__title О&nbsp;сервисе
      p.about__description
        | Любое путешествие веселее с&nbsp;попутчиками, которые
        | на&nbsp;одной волне с&nbsp;тобой! Делитесь своими идеями
        | путешествий и&nbsp;черпайте вдохновение в&nbsp;чужих.
      p.about__note
        | А&nbsp;если найдете кого-то близкого по&nbsp;духу&nbsp;&mdash;
        | скорее зовите в&nbsp;совместный трип!
      a.about__link.btn(href="#") подробнее
      +img("content/about", "about-desktop-image", "webp", 654, 665, "")
