mixin about()
  section.about
    .container
      .about__container
        .about__title-container
          h2.about__title О&nbsp;сервисе
          p.about__description
            | Любое путешествие веселее с&nbsp;попутчиками, которые
            | на&nbsp;одной волне с&nbsp;тобой! Делитесь своими идеями
            | путешествий и&nbsp;черпайте вдохновение в&nbsp;чужих.
          p.about__note
            | А&nbsp;если найдете кого-то близкого по&nbsp;духу&nbsp;&mdash;
            | скорее зовите в&nbsp;совместный трип!
          +btn({
            href: "#",
            text:"Подробнее"}).about__link

        .about__image-container
          +adaptivePicture({
            path:"content/about",
            imageBaseName:"about-image",
            width: 654,
            height: 665,
            hasTablet:true,
            tabletWidth: 368,
            tabletHeight: 564,
            hasMobile:true,
            mobileWidth: 292,
            mobileHeight: 353,
            alt:"Два скриншота 3/5 размера карточки занимает аватар, 2/5 текст: имя пользователя, описание увлечений, кнопка позвать и количество лайков."
            })
