mixin companions()
  -
    const companionsCards = [
      {
        name: "Таня Фирсова",
        hashTags: "#ЗОЖ #ПП #Фитнес #пляж #авокадо #смузи",
        countriesFlagCheck:["sri-Lanka","thailand","seychelles"],
        travelIconCheck: ["plane"],
        online: false,
        level:"99",
        photo: "firsova",
      },
      {
        name: "Петя Демин",
        hashTags: "#бургер #бар #футбол #концерт #крафт",
        countriesFlagCheck:["belgium" ,"czech"],
        travelIconCheck: ["plane","bus","run"],
        online: true,
        level:"80",
        photo: "demin",
      },
    ]

    const icons = [
      "plane","bus","bicycle","run"
    ]

  section.companions
    .container
      h2.companions__title.main-title Попутчики
      p.companions__description
      | Все мы&nbsp;индивидуальны и&nbsp;у&nbsp;каждого свой взгляд на&nbsp;
      | идеальный отдых. Одному нужен пляж и&nbsp;коктейль, а&nbsp;другому
      | маршрут для хайкинга.
      p.companions__sub-description Теперь можно легко найти единомышленников!
      a.companions__link.btn(href="#") Показать всех

      .companions__cards-wrapper
        ul.companions__list
          each companion in companionsCards
            li.companions__cards-item
              a(href="#").companions-card
                +img(companion.photo, 285, 285)
                each flag in companion.countriesFlagCheck
                  +img("content/companions/flags", flag,"webp",35, 24,"`флаг`" )
                .companions-card__title-wrapper
                  if (companion.online === true)
                    span.companions-card__online.companions-card__online--true
                  else
                    span.companions-card__online
                  h3.companions-card__title!=companion.name
                p.companions-card__description!=companion.hashTags

                .companions-card__icons-wrapper
                  each icon in icons
                    - const isChecked = companion.travelIconCheck.includes(icon)
                    if isChecked
                      +icon(icon, 25, 25).checked
                    else
                      +icon(icon, 25, 25)
