mixin hero()
  section.hero
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container
      .hero__wrapper
        h1.hero__title В&nbsp;путешествие с&nbsp;крутыми попутчиками!
        .hero__image-wrapper
          +adaptivePicture({
            path:"content/hero",
            imageBaseName:"hero-traveller",
            width: 431,
            height:640,
            hasTablet:true,
            tabletWidth: 437,
            tabletHeight: 530,
            hasMobile:true,
            mobileWidth: 192,
            mobileHeight: 255
            })
        .hero__background-wrapper
          +adaptivePicture({
            path:"content/hero",
            imageBaseName:"hero-background",
            width: 1440,
            height:742,
            hasTablet:true,
            tabletWidth: 1440,
            tabletHeight: 906,
            hasMobile:true,
            mobileWidth: 767,
            mobileHeight: 628
            })

      ol.hero__list
        li.hero__list-item
          p Выберите направление
        li.hero__list-item
          p Изучите идеи путешественников
        li.hero__list-item
          p Находите тех, кто похож на&nbsp;вас
        li.hero__list-item
          p Путешествуйте вместе!

      //- .hero__list-wrapper
