mixin map()
  section.map
    h2.vissualy-hidden Мы на картах
    .container
      .map__description-container
        button.map__address-button(type="button", data-button="map-center-button")
          span.map__address-icon-container
            +icon("location",42,42)
          span.map__address ул. Большая Конюшенная, 19/8

        +btn({
          tag:"button",
          text:"Проложить маршрут"})( data-button="map-route-button").map__button
      .map-wrapper(data-map id="map")
