.container {
  width: 100%;
  max-width: $vp-1440;
  margin: 0 auto;
  padding: 0 60px;
  min-width: $vp-1440;
  // box-shadow:
  //   -10px 0 10px -5px rgba(0, 0, 0, 0.25),
  //   10px 0 10px -5px rgba(0, 0, 0, 0.25);

  @include vp-1023 {
    padding: 0 40px;
    min-width: unset;
  }

  @include vp-767 {
    padding: 0 26px 0 24px;
  }
}
