mixin footer(footerMods)
  footer.footer(class=footerMods)
    .container
      a.footer__logo.logo(href="index.html", aria-label="Переход на главную")
        img(src="/img/svg/logo.svg", width="200", height="50", alt="Логотип Погнали")
        span.logo-description
          +icon("logo-text", 133, 25 )
      +social-list('footer')
