//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/tooltip

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success
include ./modals/modal-profile

//- Blocks
include ./blocks/social-list

//- Index
include ./blocks/index/hero
include ./blocks/index/about
include ./blocks/index/directions
include ./blocks/index/companions
include ./blocks/index/profile
include ./blocks/index/registration
include ./blocks/index/map

//- Catalog
include ./blocks/catalog/catalog-hero
include ./blocks/catalog/country-filter
include ./blocks/catalog/catalog-cards
include ./blocks/catalog/catalog-form
//- Mixins

include ./mixins/btn

include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
include ./mixins/adaptive-picture
